@import "./partials/config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

#main-header {
  background: $header-color;
  color: $header-text;
  padding: 1rem;

  .headings {
    padding-left: 15%;
  }

  .heading-span {
    color: $header-text-special;
  }
}

#main-content {
  padding: 5% 10% 5% 10%;

  .inputs {
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      font-weight: bold;
      font-size: 17px;
    }

    .inp-item {
      list-style: none;
      display: flex;

      .list-item {
        padding: 5px;
        padding-left: 25px;
      }
    }

    #btn-submit {
      cursor: pointer;
      background: $header-color;
      color: $header-text;
      border: none;
      border-radius: 15px;
      font-size: 17px;

      &:hover {
        background: $header-text-special;
        color: $header-color;
        transition: 0.2s ease-out;
      }
    }

    #day {
      width: 100px;
    }

    #btn-submit {
      width: 140px;
      height: 30px;
    }
  }

  .container {
    margin-top: 1rem;
    width: 100%;
    //border: 1px solid black;

    table {
      table-layout: fixed;
      width: 100%;
    }

    tr,
    td,
    th {
      border: 1px solid black;
      border-collapse: collapse;
      background: white;
    }
    td:nth-child(7n + 0),
    th:nth-child(7n + 0) {
      color: red;
    }

    td {
      text-align: center;
      font-size: 3rem;
      width: 200px;
      height: 100px;

      &.mark {
        color: $header-color;
        background: $header-text-special;
      }

      &:hover {
        transform: scale(1.2);
        transform-origin: center;
        transition: 0.2s ease-out;
      }
    }
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
}

.month_name {
  margin-top: 1rem;
  text-align: center;
  color: $header-text-special;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
