@import "./partials/config";
@import "./partials/mobile";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

#main-header {
  background: $header-color;
  color: $header-text;
  padding: 15px;
  padding-left: 15%;
  .header-span {
    color: $header-text-special;
  }
}

#main-content {
  min-height: calc(100vh - (89px + 92px));
  padding: 2% 15% 2% 15%;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .volume {
      width: 100%;
      table-layout: fixed;
      text-align: center;

      #main-table-header {
        font-size: 25px;
        background: $header-text-special;
        color: $header-color;
      }

      th {
        font-size: 20px;
        background: $header-color;
        color: $header-text;
      }

      td {
        font-size: 20px;
        img {
          height: auto;
          width: auto;
        }
      }

      .vars {
        font-weight: bolder;
      }

      .var1 {
        @extend .vars;
        color: $header-text-special;
      }
      .var2 {
        @extend .vars;
        color: #da1633;
      }
      .var3 {
        @extend .vars;
        color: #7b0a1c;
      }
    }

    .volume,
    tr,
    td,
    th {
      border: 3px solid black;
      border-collapse: collapse;
    }

    td,
    th {
      padding: 1rem;
    }
  }
}

#main-footer {
  position: relative;
  bottom: 0;
  background: $header-color;
  color: $header-text;
  padding: 30px;
}
