@import "./partials/config";
@import "./partials/mobile";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

#main-header {
  background: $header-color;
  color: $header-text;
  padding: 15px;
  padding-left: 15%;
  .header-span {
    color: $header-text-special;
  }
}

#main-content {
  min-height: calc(100vh - (89px + 92px));
  padding: 2% 15% 5% 15%;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .volume {
      width: 100%;
      table-layout: fixed;
      text-align: center;
    }

    .volume,
    tr,
    td,
    th {
      border: 1px solid black;
      border-collapse: collapse;
    }

    td {
      padding: 1rem;
    }
  }
}

#main-footer {
  position: relative;
  bottom: 0;
  background: $header-color;
  color: $header-text;
  padding: 30px;
}
